body {
	background: #c7f6ff;
	color: #000;
	font-size: 18px;
}

.image {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 10px;
	margin: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	&.lg {
		width: 100px;
		height: 100px;
	}

	&.md {
		width: 50px;
		height: 50px;
	}

	&.sm {
		width: 25px;
		height: 25px;
	}

	img {
		width: 100%;
	}
}

.icon {
	width: 100px;
	height: 100px;
}
