{
	"prettier.eslintIntegration": true,
	"printWidth": 115,
	"trailingComma": "es5",
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"singleAttributePerLine": false,
	"bracketSameLine": true,
	"jsxSingleQuote": true
}
